.gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0px;

    .gallery-img {
        width: 47%;
        margin: 6px;
        border-radius: 10px;


        @media(max-width: 700px) {
            width: 94%;
        }
    }
}