.team-wrapper {
    padding: 80px 0px;


    .team-name {
        padding-left: 30px;
        font-size: 22px;

    }

    .team-img {
        width: 195px;
        height: 191px;
        border-radius: 100px;

    }
}